<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1>
                <%= title %>
            </h1>

            <form class="form" method="POST">
                <input type="hidden" name="id" value="<%= tournament._id %>">
                <div class="form-group">
                    <label for="nameTextField">Tournament Title</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Tournament Name"
                        name="name" value="<%= tournament.name %>" required>
                </div>
              
                <div class="form-group">
                    <label for="gameTextField">Description</label>
                    <input type="text" class="form-control" id="gameTextField"
                        placeholder="Enter the Tournament Description" name="description"
                        value="<%= tournament.description %>" required>
                </div>
               
                <div class="form-group">
                    <label for="startDateField">Start Date</label>
                    <input type="date" class="form-control" id="startDateField" placeholder="Enter the Start Date"
                        name="startDate" value="<%= tournament.startDate %>" required>
                </div>
              
                <div class="form-group">
                    <label for="endDateField">End Date</label>
                    <input type="date" class="form-control" id="endDateField" placeholder="Enter the End Date"
                        name="endDate" value="<%= tournament.endDate %>" required>
                    </input>
                </div>
           
                <!-- <div class="form-group">
                    <label for="sizeInputField">Enter list of teams</label>
                    <input type="text" class="form-control" id="sizeInputField"
                        placeholder="Enter the team(s) names, separated by comma." name="teams"
                        value="<%= tournament.teams %>" required>
                </div> -->
                <div class="form-group">
                    <label for="nameTextField">Team 1</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Team Name"
                        name="team1" value="<%= tournament.team1 %>" required>
                </div>
                <div class="form-group">
                    <label for="nameTextField">Team 2</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Team Name"
                        name="team2" value="<%= tournament.team2 %>" required>
                </div>
                <div class="form-group">
                    <label for="nameTextField">Team 3</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Team Name"
                        name="team3" value="<%= tournament.team3 %>" required>
                </div>
                <div class="form-group">
                    <label for="nameTextField">Team 4</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Team Name"
                        name="team4" value="<%= tournament.team4 %>" required>
                </div>
                <div class="form-group">
                    <label for="nameTextField">Team 5</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Team Name"
                        name="team5" value="<%= tournament.team5 %>" required>
                </div>
                <div class="form-group">
                    <label for="nameTextField">Team 6</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Team Name"
                        name="team6" value="<%= tournament.team6 %>" required>
                </div>
                <div class="form-group">
                    <label for="nameTextField">Team 7</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Team Name"
                        name="team7" value="<%= tournament.team7 %>" required>
                </div>
                <div class="form-group">
                    <label for="nameTextField">Team 8</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Team Name"
                        name="team8" value="<%= tournament.team8 %>" required>
                </div>
                <div class="form-group">
                    <label for="nameTextField">Team 9</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Team Name"
                        name="team9" value="<%= tournament.team9 %>" required>
                </div>
                <div class="form-group">
                    <label for="nameTextField">Team 10</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Team Name"
                        name="team10" value="<%= tournament.team10 %>" required>
                </div>
                <div class="form-group">
                    <label for="nameTextField">Team 11</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Team Name"
                        name="team11" value="<%= tournament.team11 %>" required>
                </div>
                <div class="form-group">
                    <label for="nameTextField">Team 12</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Team Name"
                        name="team12" value="<%= tournament.team12 %>" required>
                </div>
                <div class="form-group">
                    <label for="nameTextField">Team 13</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Team Name"
                        name="team13" value="<%= tournament.team13 %>" required>
                </div>
                <div class="form-group">
                    <label for="nameTextField">Team 14</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Team Name"
                        name="team14" value="<%= tournament.team14 %>" required>
                </div>
                <div class="form-group">
                    <label for="nameTextField">Team 15</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Team Name"
                        name="team15" value="<%= tournament.team15 %>" required>
                </div>
                <div class="form-group">
                    <label for="nameTextField">Team 16</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Team Name"
                        name="team16" value="<%= tournament.team16 %>" required>
                </div>
                <button class="btn btn-dark" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>

                <a href="/home" class="btn btn-danger">
                    <i class="fas fa-undo"></i> Cancel</a>
            </form>
        </div>
    </div>
</div>