<div class="t-container">
    <form class="form" method="POST">
        <div class="roundHeaders">
            <h4 class="round-header">Round 16
            
            </h4>
            <h4 class="round-header">Quarter-Finals
            </h4>
            <h4 class="round-header">Semi-Finals
            </h4>
            <h4 class="round-header">Finals
            </h4>
            <h4 class="round-header">Champion</h4>
        </div>
        <div class="t-brackets">

            <ul class="bracket-card bracket-1">
                <% if(profileType == "Owner") { %> 
                <button class="btn btn-light" type="submit">
                    <i class="fas fa-edit"></i> Submit Result</button>
                <% } %>
                <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                    <p class="teamId" id="final16Game1Team1">
                        <%= tournament.team1 %>
                    </p>
                    <p class="score">
                        <input id="final16Score1" type="number" class="team-score" name="score1" min="0" max="99" placeholder="0"
                            onchange="scoreFunction()" value= <%=score[0].score1 %>>
                        -
                        <input id="final16Score2" type="number" class="team-score" name="score2" min="0" max="99" placeholder="0"
                            onchange="scoreFunction()" value=<%=score[0].score2 %>>
                    </p>
                    <p class="teamId" id="final16Game1Team2">
                        <%= tournament.team2 %>
                    </p>
                </li>
                <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                    <p class="teamId" id="final16Game2Team1">
                        <%= tournament.team3 %>
                    </p>
                    <p class="score">
                    <p class="score">
                        <input id="final16Score3" type="number" class="team-score" name="score3" min="0" max="99" placeholder="0"
                            onchange="scoreFunction()" value=<%=score[0].score3 %>>
                        -
                        <input id="final16Score4" type="number" class="team-score" name="score4" min="0" max="99" placeholder="0"
                            onchange="scoreFunction()" value=<%=score[0].score4 %>>
                    </p>
                    </p>
                    <p class="teamId" id="final16Game2Team2">
                        <%= tournament.team4 %>
                    </p>
                </li>
                <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                    <p class="teamId" id="final16Game3Team1">
                        <%= tournament.team5 %>
                    </p>
                    <p class="score">
                    <p class="score">
                        <input id="final16Score5" type="number" class="team-score" name="score5" min="0" max="99" placeholder="0"
                            onchange="scoreFunction()" value=<%=score[0].score5 %>>
                        -
                        <input id="final16Score6" type="number" class="team-score" name="score6" min="0" max="99" placeholder="0"
                            onchange="scoreFunction()" value=<%=score[0].score6 %>>
                    </p>
                    </p>
                    <p class="teamId" id="final16Game3Team2">
                        <%= tournament.team6 %>
                    </p>
                </li>
                <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                    <p class="teamId" id="final16Game4Team1">
                        <%= tournament.team7 %>
                    </p>
                    <p class="score">
                    <p class="score">
                        <input id="final16Score7" type="number" class="team-score" name="score7" min="0" max="99" placeholder="0"
                            onchange="scoreFunction()" value=<%=score[0].score7 %>>
                        -
                        <input id="final16Score8" type="number" class="team-score" name="score8" min="0" max="99" placeholder="0"
                            onchange="scoreFunction()" value=<%=score[0].score8 %>>
                    </p>
                    </p>
                    <p class="teamId" id="final16Game4Team2">
                        <%= tournament.team8 %>
                    </p>
                </li>
                <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                    <p class="teamId" id="final16Game5Team1">
                        <%= tournament.team9 %>
                    </p>
                    <p class="score">
                    <p class="score">
                        <input id="final16Score9" type="number" class="team-score" name="score9" min="0" max="99" placeholder="0"
                            onchange="scoreFunction()" value=<%=score[0].score9 %>>
                        -
                        <input id="final16Score10" type="number" class="team-score" name="score10" min="0" max="99" placeholder="0"
                            onchange="scoreFunction()" value=<%=score[0].score10 %>>
                    </p>
                    </p>
                    <p class="teamId" id="final16Game5Team2">
                        <%= tournament.team10 %>
                    </p>
                <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                    <p class="teamId" id="final16Game6Team1">
                        <%= tournament.team11 %>
                    </p>
                    <p class="score">
                    <p class="score">
                        <input id="final16Score11" type="number" class="team-score" name="score11" min="0" max="99" placeholder="0"
                            onchange="scoreFunction()" value=<%=score[0].score11 %>>
                        -
                        <input id="final16Score12" type="number" class="team-score" name="score12" min="0" max="99" placeholder="0"
                            onchange="scoreFunction()" value=<%=score[0].score12 %>>
                    </p>
                    </p>
                    <p class="teamId" id="final16Game6Team2">
                        <%= tournament.team12 %>
                    </p>
                </li>
                <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                    <p class="teamId" id="final16Game7Team1">
                        <%= tournament.team13 %>
                    </p>
                    <p class="score">
                    <p class="score">
                        <input id="final16Score13" type="number" class="team-score" name="score13" min="0" max="99" placeholder="0"
                            onchange="scoreFunction()" value=<%=score[0].score13 %>>
                        -
                        <input id="final16Score14" type="number" class="team-score" name="score14" min="0" max="99" placeholder="0"
                            onchange="scoreFunction()" value=<%=score[0].score14 %>>
                    </p>
                    </p>
                    <p class="teamId" id="final16Game7Team2">
                        <%= tournament.team14 %>
                    </p>
                </li>
                <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                    <p class="teamId" id="final16Game8Team1">
                        <%= tournament.team15 %>
                    </p>
                    <p class="score">
                    <p class="score">
                        <input id="final16Score15" type="number" class="team-score" name="score15" min="0" max="99" placeholder="0"
                            onchange="scoreFunction()" value=<%=score[0].score15 %>>
                        -
                        <input id="final16Score16" type="number" class="team-score" name="score16" min="0" max="99" placeholder="0"
                            onchange="scoreFunction()" value=<%=score[0].score16 %>>
                    </p>
                    </p>
                    <p class="teamId" id="final16Game8Team2">
                        <%= tournament.team16 %>
                    </p>
                </li>

            </ul>
            <ul class="bracket-card bracket-2">
                <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                    <p class="teamId" id="team1QF">TBA</p>
                    <p class="score">
                    <p class="score">
                        <input type="hidden" id="QFScore1" class="team-score" name="scoreQF1" min="0" max="99" placeholder="0"
                            onchange="scoreFunctionQF()" value=<%=score[0].score17 %>>
                        -
                        <input type="hidden" id="QFScore2" class="team-score" name="scoreQF2" min="0" max="99" placeholder="0"
                            onchange="scoreFunctionQF()" value=<%=score[0].score18 %>>
                    </p>
                    </p>
                    <p class="teamId" id="team2QF">TBA</p>
                </li>
                <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                    <p class="teamId" id="team3QF">TBA</p>
                    <p class="score">
                    <p class="score">
                        <input type="number" id="QFScore3" class="team-score" name="scoreQF3" min="0" max="99" placeholder="0"
                            onchange="scoreFunctionQF()" value=<%=score[0].score19 %>>
                        -
                        <input type="number" id="QFScore4" class="team-score" name="scoreQF4" min="0" max="99" placeholder="0"
                            onchange="scoreFunctionQF()" value=<%=score[0].score20 %>>
                    </p>
                    </p>
                    <p class="teamId" id="team4QF">TBA</p>
                </li>
                <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                    <p class="teamId" id="team5QF">TBA</p>
                    <p class="score">
                    <p class="score">
                        <input type="number" id="QFScore5" class="team-score" name="scoreQF5" min="0" max="99" placeholder="0"
                            onchange="scoreFunctionQF()" value=<%=score[0].score21 %>>
                        -
                        <input type="number" id="QFScore6" class="team-score" name="scoreQF6" min="0" max="99" placeholder="0"
                            onchange="scoreFunctionQF()" value=<%=score[0].score22 %> %>>
                    </p>
                    </p>
                    <p class="teamId" id="team6QF">TBA</p>
                </li>
                <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                    <p class="teamId" id="team7QF">TBA</p>
                    <p class="score">
                    <p class="score">
                        <input type="number" id="QFScore7" class="team-score" name="scoreQF7" min="0" max="99" placeholder="0"
                            onchange="scoreFunctionQF()" value=<%=score[0].score23 %>>
                        -
                        <input type="number" id="QFScore8" class="team-score" name="scoreQF8" min="0" max="99" placeholder="0"
                            onchange="scoreFunctionQF()" value=<%=score[0].score24 %>>
                    </p>
                    </p>
                    <p class="teamId" id="team8QF">TBA</p>
                </li>
            </ul>
            <ul class="bracket-card bracket-3">
                <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                    <p class="teamId" id="team1SF">TBA</p>
                    <p class="score">
                    <p class="score">
                        <input type="number" id="SFScore1" class="team-score" name="scoreSF1" min="0" max="99" placeholder="0"
                            onchange="scoreFunctionSF()" value=<%=score[0].score25 %>>
                        -
                        <input type="number" id="SFScore2" class="team-score" name="scoreSF2" min="0" max="99" placeholder="0"
                            onchange="scoreFunctionSF()" value=<%=score[0].score26 %>>
                    </p>
                    </p>
                    <p class="teamId" id="team2SF">TBA</p>
                </li>
                <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                    <p class="teamId" id="team3SF">TBA</p>
                    <p class="score">
                    <p class="score">
                        <input type="number" id="SFScore3" class="team-score" name="scoreSF3" min="0" max="99" placeholder="0"
                            onchange="scoreFunctionSF()" value=<%=score[0].score27 %>>
                        -
                        <input type="number" id="SFScore4" class="team-score" name="scoreSF4" min="0" max="99" placeholder="0"
                            onchange="scoreFunctionSF()" value=<%=score[0].score28 %>>
                    </p>
                    </p>
                    <p class="teamId" id="team4SF">TBA</p>
                </li>
            </ul>
            <ul class="bracket-card bracket-4">
                <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                    <p class="teamId" id="team1Final">TBA</p>
                    <p class="score">
                    <p class="score">
                        <input type="number" id="FScore1" class="team-score" name="scoreFinal1" min="0" max="99" placeholder="0"
                            onchange="scoreFuntionFinals()" value=<%=score[0].score29 %>>
                        -
                        <input type="number" id="FScore2" class="team-score" name="scoreFinal2" min="0" max="99" placeholder="0"
                            onchange="scoreFuntionFinals()" value=<%=score[0].score30 %>>
                    </p>
                    </p>
                    <p class="teamId" id="team2Final">TBA</p>
                </li>
            </ul>
            <ul class="bracket-card bracket-5">
                <li class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                    <p class="teamId" id="teamWinner">TBA</p>

                </li>
            </ul>
        </div>
    </form>
</div>
<script>
    var teamsQF = [];
    var teamsSF = [];
    var teamsFinal = [];
    var teamChamp = [];
    function scoreFunction() {
        teamsQF = [];
        var team1 = "<%= tournament.team1 %>";
        var team2 = "<%= tournament.team2 %>";
        var score1 = document.getElementsByName("score1")[0].value;
        var score2 = document.getElementsByName("score2")[0].value;
        if (score1 > score2) {
            document.getElementById("team1QF").innerHTML = team1;
            teamsQF[0] = team1;
            document.getElementById("final16Game1Team2").style.color="#ff6666";
            document.getElementById("final16Game1Team1").style.color="#7CFC00";
            //document.getElementById("QFScore1").setAttribute('type','number');
        }
        else if (score2 > score1) {
            document.getElementById("team1QF").innerHTML = team2;
            teamsQF[0] = team2;
            document.getElementById("final16Game1Team1").style.color="#ff6666";
            document.getElementById("final16Game1Team2").style.color="#7CFC00";
        }
        else {
            document.getElementById("team1QF").innerHTML = "TBA";
            document.getElementById("final16Game1Team2").style.color="#ffffff";
            document.getElementById("final16Game1Team1").style.color="#ffffff";
        }
        var team3 = "<%= tournament.team3 %>";
        var team4 = "<%= tournament.team4 %>";
        var score3 = document.getElementsByName("score3")[0].value;
        var score4 = document.getElementsByName("score4")[0].value;
        if (score3 > score4) {
            document.getElementById("team2QF").innerHTML = team3;
            teamsQF[1] = team3;
            document.getElementById("final16Game2Team2").style.color="#ff6666";
            document.getElementById("final16Game2Team1").style.color="#7CFC00";

        }
        else if (score4 > score3) {
            document.getElementById("team2QF").innerHTML = team4;
            teamsQF[1] = team4;
            document.getElementById("final16Game2Team1").style.color="#ff6666";
            document.getElementById("final16Game2Team2").style.color="#7CFC00";
        }
        else {
            document.getElementById("team2QF").innerHTML = "TBA";
            document.getElementById("final16Game2Team2").style.color="#ffffff";
            document.getElementById("final16Game2Team1").style.color="#ffffff";
        }
        if((score1!=score2) && (score3!=score4)){
            document.getElementById("QFScore1").setAttribute('type','number');
            document.getElementById("QFScore2").setAttribute('type','number');
        }else{
            document.getElementById("QFScore1").setAttribute('type','hidden');
            document.getElementById("QFScore2").setAttribute('type','hidden');
        }
        var team5 = "<%= tournament.team5 %>";
        var team6 = "<%= tournament.team6 %>";
        var score5 = document.getElementsByName("score5")[0].value;
        var score6 = document.getElementsByName("score6")[0].value;
        if (score5 > score6) {
            document.getElementById("team3QF").innerHTML = team5;
            teamsQF[2] = team5;
            document.getElementById("final16Game3Team2").style.color="#ff6666";
            document.getElementById("final16Game3Team1").style.color="#7CFC00";
        }
        else if (score6 > score5) {
            document.getElementById("team3QF").innerHTML = team6;
            teamsQF[2] = team6;
            document.getElementById("final16Game3Team1").style.color="#ff6666";
            document.getElementById("final16Game3Team2").style.color="#7CFC00";
        }
        else {
            document.getElementById("final16Game3Team2").style.color="#ffffff";
            document.getElementById("final16Game3Team1").style.color="#ffffff";
            document.getElementById("team3QF").innerHTML = "TBA";
        }
        var team7 = "<%= tournament.team7 %>";
        var team8 = "<%= tournament.team8 %>";
        var score7 = document.getElementsByName("score7")[0].value;
        var score8 = document.getElementsByName("score8")[0].value;
        if (score7 > score8) {
            document.getElementById("team4QF").innerHTML = team7;
            teamsQF[3] = team7;
            document.getElementById("final16Game4Team2").style.color="#ff6666";
            document.getElementById("final16Game4Team1").style.color="#7CFC00";
        }
        else if (score8 > score7) {
            document.getElementById("team4QF").innerHTML = team8;
            document.getElementById("final16Game4Team1").style.color="#ff6666";
            document.getElementById("final16Game4Team2").style.color="#7CFC00";
            teamsQF[3] = team8;
        }
        else {
            document.getElementById("team4QF").innerHTML = "TBA";
            document.getElementById("final16Game4Team2").style.color="#ffffff";
            document.getElementById("final16Game4Team1").style.color="#ffffff";
        }
        if((score5!=score6) && (score7!=score8)){
            document.getElementById("QFScore3").setAttribute('type','number');
            document.getElementById("QFScore4").setAttribute('type','number');
        }else{
            document.getElementById("QFScore3").setAttribute('type','hidden');
            document.getElementById("QFScore4").setAttribute('type','hidden');
        }
        var team9 = "<%= tournament.team9 %>";
        var team10 = "<%= tournament.team10 %>";
        var score9 = document.getElementsByName("score9")[0].value;
        var score10 = document.getElementsByName("score10")[0].value;
        if (score9 > score10) {
            document.getElementById("team5QF").innerHTML = team9;
            teamsQF[4] = team9;
            document.getElementById("final16Game5Team2").style.color="#ff6666";
            document.getElementById("final16Game5Team1").style.color="#7CFC00";
        }
        else if (score10 > score9) {
            document.getElementById("team5QF").innerHTML = team10;
            teamsQF[4] = team10;
            document.getElementById("final16Game5Team1").style.color="#ff6666";
            document.getElementById("final16Game5Team2").style.color="#7CFC00";
        }
        else {
            document.getElementById("team5QF").innerHTML = "TBA";
            document.getElementById("final16Game5Team2").style.color="#ffffff";
            document.getElementById("final16Game5Team1").style.color="#ffffff";
        }
        var team11 = "<%= tournament.team11 %>";
        var team12 = "<%= tournament.team12 %>";
        var score11 = document.getElementsByName("score11")[0].value;
        var score12 = document.getElementsByName("score12")[0].value;
        if (score11 > score12) {
            document.getElementById("team6QF").innerHTML = team11;
            teamsQF[5] = team11;
            document.getElementById("final16Game6Team2").style.color="#ff6666";
            document.getElementById("final16Game6Team1").style.color="#7CFC00";
        }
        else if (score12 > score11) {
            document.getElementById("team6QF").innerHTML = team12;
            document.getElementById("final16Game6Team1").style.color="#ff6666";
            document.getElementById("final16Game6Team2").style.color="#7CFC00";
            teamsQF[5] = team12;
        }
        else {
            document.getElementById("team6QF").innerHTML = "TBA";
            document.getElementById("final16Game6Team2").style.color="#ffffff";
            document.getElementById("final16Game6Team1").style.color="#ffffff";
        }
        if((score9!=score10) && (score11!=score12)){
            document.getElementById("QFScore5").setAttribute('type','number');
            document.getElementById("QFScore6").setAttribute('type','number');
            document.getElementById("QFScore6").setAttribute('type','number');
        }else{
            document.getElementById("QFScore5").setAttribute('type','hidden');
            document.getElementById("QFScore6").setAttribute('type','hidden');
        }
        var team13 = "<%= tournament.team13 %>";
        var team14 = "<%= tournament.team14 %>";
        var score13 = document.getElementsByName("score13")[0].value;
        var score14 = document.getElementsByName("score14")[0].value;
        if (score13 > score14) {
            document.getElementById("team7QF").innerHTML = team13;
            teamsQF[6] = team13;
            document.getElementById("final16Game7Team2").style.color="#ff6666";
            document.getElementById("final16Game7Team1").style.color="#7CFC00";
        }
        else if (score14 > score13) {
            document.getElementById("team7QF").innerHTML = team14;
            teamsQF[6] = team14;
            document.getElementById("final16Game7Team1").style.color="#ff6666";
            document.getElementById("final16Game7Team2").style.color="#7CFC00";
        }
        else {
            document.getElementById("team7QF").innerHTML = "TBA";
            document.getElementById("final16Game7Team2").style.color="#ffffff";
            document.getElementById("final16Game7Team1").style.color="#ffffff";
        }
        var team15 = "<%= tournament.team15 %>";
        var team16 = "<%= tournament.team16 %>";
        var score15 = document.getElementsByName("score15")[0].value;
        var score16 = document.getElementsByName("score16")[0].value;
        if (score15 > score16) {
            document.getElementById("team8QF").innerHTML = team15;
            teamsQF[7] = team15;
            document.getElementById("final16Game8Team2").style.color="#ff6666";
            document.getElementById("final16Game8Team1").style.color="#7CFC00";
        }
        else if (score16 > score15) {
            document.getElementById("team8QF").innerHTML = team16;
            teamsQF[7] = team16;
            document.getElementById("final16Game8Team1").style.color="#ff6666";
            document.getElementById("final16Game8Team2").style.color="#7CFC00";
        }
        else {
            document.getElementById("team8QF").innerHTML = "TBA";
            document.getElementById("final16Game8Team2").style.color="#ffffff";
            document.getElementById("final16Game8Team1").style.color="#ffffff";
        }
        if((score13!=score14) && (score15!=score16)){
            document.getElementById("QFScore7").setAttribute('type','number');
            document.getElementById("QFScore8").setAttribute('type','number');
        }else{
            document.getElementById("QFScore7").setAttribute('type','hidden');
            document.getElementById("QFScore8").setAttribute('type','hidden');
        }

    }
    function scoreFunctionQF() {
        teamsSF = [];
        var team1 = teamsQF[0];
        var team2 = teamsQF[1];
        var score1 = document.getElementsByName("scoreQF1")[0].value;
        var score2 = document.getElementsByName("scoreQF2")[0].value;
        if (score1 > score2) {
            document.getElementById("team1SF").innerHTML = team1;
            teamsSF.push(team1);
            document.getElementById("team2QF").style.color="#ff6666";
            document.getElementById("team1QF").style.color="#7CFC00";
            document.getElementById("final16Score1").readOnly=true;
            document.getElementById("final16Score2").readOnly=true;
            document.getElementById("final16Score3").readOnly=true;
            document.getElementById("final16Score4").readOnly=true;

        }
        else if (score2 > score1) {
            document.getElementById("team1SF").innerHTML = team2;
            teamsSF.push(team2);
            document.getElementById("team1QF").style.color="#ff6666";
            document.getElementById("team2QF").style.color="#7CFC00";
            document.getElementById("final16Score1").readOnly=true;
            document.getElementById("final16Score2").readOnly=true;
            document.getElementById("final16Score3").readOnly=true;
            document.getElementById("final16Score4").readOnly=true;            
        }
        else {
            document.getElementById("team1SF").innerHTML = "TBA";
            document.getElementById("team1QF").style.color="#ffffff";
            document.getElementById("team2QF").style.color="#ffffff";
        }
        var team3 = teamsQF[2];
        var team4 = teamsQF[3];
        var score3 = document.getElementsByName("scoreQF3")[0].value;
        var score4 = document.getElementsByName("scoreQF4")[0].value;
        if (score3 > score4) {
            document.getElementById("team2SF").innerHTML = team3;
            teamsSF[team3];
            document.getElementById("team4QF").style.color="#ff6666";
            document.getElementById("team3QF").style.color="#7CFC00";
            document.getElementById("final16Score5").readOnly=true;
            document.getElementById("final16Score6").readOnly=true;
            document.getElementById("final16Score7").readOnly=true;
            document.getElementById("final16Score8").readOnly=true;
        }
        else if (score4 > score3) {
            document.getElementById("team2SF").innerHTML = team4;
            teamsSF.push(team4);
            document.getElementById("team3QF").style.color="#ff6666";
            document.getElementById("team4QF").style.color="#7CFC00";
            document.getElementById("final16Score5").readOnly=true;
            document.getElementById("final16Score6").readOnly=true;
            document.getElementById("final16Score7").readOnly=true;
            document.getElementById("final16Score8").readOnly=true;
        }
        else {
            document.getElementById("team2SF").innerHTML = "TBA";
            document.getElementById("team3QF").style.color="#ffffff";
            document.getElementById("team4QF").style.color="#ffffff";
        }
        if((score1!=score2) && (score3!=score4)){
            document.getElementById("SFScore1").setAttribute('type','number');
            document.getElementById("SFScore2").setAttribute('type','number');            
        }else{
            document.getElementById("SFScore1").setAttribute('type','hidden');
            document.getElementById("SFScore2").setAttribute('type','hidden');
        }
        var team5 = teamsQF[4];
        var team6 = teamsQF[5];
        var score5 = document.getElementsByName("scoreQF5")[0].value;
        var score6 = document.getElementsByName("scoreQF6")[0].value;
        if (score5 > score6) {
            document.getElementById("team3SF").innerHTML = team5;
            teamsSF.push(team5);
            document.getElementById("team6QF").style.color="#ff6666";
            document.getElementById("team5QF").style.color="#7CFC00";
            document.getElementById("final16Score9").readOnly=true;
            document.getElementById("final16Score10").readOnly=true;
            document.getElementById("final16Score11").readOnly=true;
            document.getElementById("final16Score12").readOnly=true;
        }
        else if (score6 > score5) {
            document.getElementById("team3SF").innerHTML = team6;
            teamsSF.push(team6);
            document.getElementById("team5QF").style.color="#ff6666";
            document.getElementById("team6QF").style.color="#7CFC00";
            document.getElementById("final16Score9").readOnly=true;
            document.getElementById("final16Score10").readOnly=true;
            document.getElementById("final16Score11").readOnly=true;
            document.getElementById("final16Score12").readOnly=true;
        }
        else {
            document.getElementById("team3SF").innerHTML = "TBA";
            document.getElementById("team5QF").style.color="#ffffff";
            document.getElementById("team6QF").style.color="#ffffff";
        }
        var team7 = teamsQF[6];
        var team8 = teamsQF[7];
        var score7 = document.getElementsByName("scoreQF7")[0].value;
        var score8 = document.getElementsByName("scoreQF8")[0].value;
        if (score7 > score8) {
            document.getElementById("team4SF").innerHTML = team7;
            teamsSF[3] = team7;
            document.getElementById("team8QF").style.color="#ff6666";
            document.getElementById("team7QF").style.color="#7CFC00";
            document.getElementById("final16Score13").readOnly=true;
            document.getElementById("final16Score14").readOnly=true;
            document.getElementById("final16Score15").readOnly=true;
            document.getElementById("final16Score16").readOnly=true;
        }
        else if (score8 > score7) {
            document.getElementById("team4SF").innerHTML = team8;
            teamsSF[3] = team8;
            document.getElementById("team7QF").style.color="#ff6666";
            document.getElementById("team8QF").style.color="#7CFC00";
            document.getElementById("final16Score13").readOnly=true;
            document.getElementById("final16Score14").readOnly=true;
            document.getElementById("final16Score15").readOnly=true;
            document.getElementById("final16Score16").readOnly=true;
        }
        else {
            document.getElementById("team4SF").innerHTML = "TBA";
            document.getElementById("team7QF").style.color="#ffffff";
            document.getElementById("team8QF").style.color="#ffffff";
        }
        if((score5!=score6) && (score7!=score8)){
            document.getElementById("SFScore3").setAttribute('type','number');
            document.getElementById("SFScore4").setAttribute('type','number');
        }else{
            document.getElementById("SFScore3").setAttribute('type','hidden');
            document.getElementById("SFScore4").setAttribute('type','hidden');
        }
    }
    function scoreFunctionSF() {
        teamsFinal = [];
        var team1 = teamsSF[0];
        var team2 = teamsSF[1];
        var score1 = document.getElementsByName("scoreSF1")[0].value;
        var score2 = document.getElementsByName("scoreSF2")[0].value;
        if (score1 > score2) {
            document.getElementById("team1Final").innerHTML = team1;
            teamsFinal.push(team1);
            document.getElementById("team2SF").style.color="#ff6666";
            document.getElementById("team1SF").style.color="#7CFC00";
            document.getElementById("QFScore1").readOnly=true;
            document.getElementById("QFScore2").readOnly=true;
            document.getElementById("QFScore3").readOnly=true;
            document.getElementById("QFScore4").readOnly=true;
        }
        else if (score2 > score1) {
            document.getElementById("team1Final").innerHTML = team2;
            teamsFinal.push(team2);
            document.getElementById("team1SF").style.color="#ff6666";
            document.getElementById("team2SF").style.color="#7CFC00";
            document.getElementById("QFScore1").readOnly=true;
            document.getElementById("QFScore2").readOnly=true;
            document.getElementById("QFScore3").readOnly=true;
            document.getElementById("QFScore4").readOnly=true;
        }
        else {
            document.getElementById("team1Final").innerHTML = "TBA";
            document.getElementById("team1SF").style.color="#ffffff";
            document.getElementById("team2SF").style.color="#ffffff";
        }
        var team3 = teamsSF[2];
        var team4 = teamsSF[3];
        var score3 = document.getElementsByName("scoreSF3")[0].value;
        var score4 = document.getElementsByName("scoreSF4")[0].value;
        if (score3 > score4) {
            document.getElementById("team2Final").innerHTML = team3;
            teamsFinal.push(team3);
            document.getElementById("team4SF").style.color="#ff6666";
            document.getElementById("team3SF").style.color="#7CFC00";
            document.getElementById("QFScore5").readOnly=true;
            document.getElementById("QFScore6").readOnly=true;
            document.getElementById("QFScore7").readOnly=true;
            document.getElementById("QFScore8").readOnly=true;
        }
        else if (score4 > score3) {
            document.getElementById("team2Final").innerHTML = team4;
            teamsFinal.push(team4);
            document.getElementById("team3SF").style.color="#ff6666";
            document.getElementById("team4SF").style.color="#7CFC00";
            document.getElementById("QFScore5").readOnly=true;
            document.getElementById("QFScore6").readOnly=true;
            document.getElementById("QFScore7").readOnly=true;
            document.getElementById("QFScore8").readOnly=true;
        }
        else {
            document.getElementById("team2Final").innerHTML = "TBA";
            document.getElementById("team3SF").style.color="#ffffff";
            document.getElementById("team4SF").style.color="#ffffff";
        }
        console.log(teamsSF);
        if((score1!=score2) && (score3!=score4)){
            document.getElementById("FScore1").setAttribute('type','number');
            document.getElementById("FScore2").setAttribute('type','number');
        }else{
            document.getElementById("FScore1").setAttribute('type','hidden');
            document.getElementById("FScore2").setAttribute('type','hidden');
        }
    }
    function scoreFuntionFinals() {
        teamChamp = [];
        var team1 = teamsFinal[0];
        var team2 = teamsFinal[1];
        var score1 = document.getElementsByName("scoreFinal1")[0].value;
        var score2 = document.getElementsByName("scoreFinal2")[0].value;
        if (score1 > score2) {
            document.getElementById("teamWinner").innerHTML = team1;
            teamChamp.push(team1);
            document.getElementById("team2Final").style.color="#ff6666";
            document.getElementById("team1Final").style.color="#7CFC00";
            document.getElementById("SFScore1").readOnly=true;
            document.getElementById("SFScore2").readOnly=true;
            document.getElementById("SFScore3").readOnly=true;
            document.getElementById("SFScore4").readOnly=true;
        }
        else if (score2 > score1) {
            document.getElementById("teamWinner").innerHTML = team2;
            teamChamp.push(team2);
            document.getElementById("team1Final").style.color="#ff6666";
            document.getElementById("team2Final").style.color="#7CFC00";
            document.getElementById("SFScore1").readOnly=true;
            document.getElementById("SFScore2").readOnly=true;
            document.getElementById("SFScore3").readOnly=true;
            document.getElementById("SFScore4").readOnly=true;
        }
        else{
            document.getElementById("teamWinner").innerHTML = "TBA";
            document.getElementById("team2Final").style.color="#ffffff";
            document.getElementById("team1Final").style.color="#ffffff";
        }
    }
    window.onload = scoreFunction();
    window.onload = scoreFunctionQF();
    window.onload = scoreFunctionSF();
    window.onload = scoreFuntionFinals();
</script>